@charset "UTF-8";

html{
  font-size: 62.5%;
  min-width: inherit;
  background: #c9cacc;
}

header {
  width: 100%;
  height: 200px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  background: #494430;
  box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.75);
  padding: 4%;
  box-sizing: border-box;
}

form input[type="text"], select, button {
    border: 1px #C5C5C5 solid;
    background:  #dcd9d0;
    font: 2.0rem/2.2rem Tahoma, Arial, sans-serif;
    color: #8A8A8A;
}

form input[type="text"] {
    display: block;
    width: 60%;
    height: 50px;
    padding: 0 15px;
    margin: 0 20px 20px 0;
    float: left;
}

form select {
    width: 20%;
    height: 50px;
    padding: 0 15px;

    -webkit-appearance: none;
    cursor: pointer;
}

form button[type='submit'] {
    width: 13%;
    height: 50px;
    float: right;
    border: none;
    background:  #9ceaa2;
    padding-top: 9px;

    transition: background 0.2s ease;
    cursor: pointer;

    color: #222522;
}

form button:hover{
  background: #3ebe48;
}

form input[type="text"].error, select.error {
    border-color: #ff4343;
}

#taskTable{
  width: 100%;
  margin-top: 240px;

  border-collapse: collapse;
  border: 1px solid #494430;
  font: 2.0rem/2.2rem Tahoma, Arial, sans-serif;
}

#taskTable thead {
  background: #494430;
  color: #cccabc;
  text-align: left;
}

#taskTable tbody {
  background: #ffffff;
  color: #797979;
  text-align: left;
}

#taskTable thead th:first-child {
  width: 60%;
}

#taskTable thead th:last-child {
  width: 7%;
}

#taskTable .checkBox{
  display: block;
  margin: auto;
  fill: #f6982e;
  float: left;
}

#taskTable .checkBox:hover{
  cursor: pointer;
}

#taskTable .checkBox .Done{
  opacity: 1;
}

#taskTable .delete{
  transform: scale(2.7, 2.7);
  padding-top: 3px;
  fill: #cfcfcf;
}

#taskTable .delete:hover{
  fill: #741d1d;
  cursor: pointer;
}

#taskTable tr {
  display: flex: 1 1 auto;;
  height: 7vh;
  border-bottom: 1px solid  #494430;
}

#taskTable tr th:first-child{
  padding-left: 25px;
}

#taskTable tr td:first-child{
  padding-left: 25px;
}

#taskTable th {
    position: relative;
    cursor: pointer;
}

#taskTable th:after {
    content: "";
    display: none;
    width: 0;
    height: 0;
    margin-top: -5px;

    position: absolute;
    top: 50%;
    right: 20px;
}

#taskTable th.asc:after {
    display: block;
    border-style: solid;
    border-width: 0 5px 10px 5px;
    border-color: transparent transparent #E2E2E2 transparent;
}

#taskTable th.desc:after {
    display: block;
    border-style: solid;
    border-width: 10px 5px 0 5px;
    border-color: #E2E2E2 transparent transparent transparent;
}

#footer{
  width: 100%;
  height: 7vh;
  background: #ffffff;
  border-top: 0.5px solid  #494430;
  color: #000000;
}

#footer #rows{
  text-align: right;
}

#footer #rows-per-page{
  width: 30%;
  border: 0;
  background: #ffffff;
  color: #000000;
}

#footer #next-prev{
  cursor: pointer;
  width: 10%;
}


#footer #next-prev #next{
  cursor: pointer;
  padding-left: 10px;
  height: 20px;
}

#footer #next-prev #prev{
  height: 20px;
}

svg{
  transition: fill 0.2s ease;
}
